<nav class="primary-menu">
    <ul class="one-page-menu menu-container" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="{{if or ($currentPage.IsMenuCurrent `main` .) ($currentPage.HasMenuCurrent `main` .) }}sub-menu {{end}}menu-item"><a href="#" class="menu-link" data-href="#{{ .URL }}" title="{{ .Title }}"><div>{{ .Name }}</div></a>
            <ul class="sub-menu-container">
            {{ range .Children }}
                <li class="menu-item"><a href="{{ .URL }}"  class="menu-link" title="{{ .Title }}"><div>{{ .Name | markdownify }}</div></a></li>
            {{ end }}
            </ul>
        </li>
        {{ else }}
        <li class="{{if or ($currentPage.IsMenuCurrent `main` .) ($currentPage.HasMenuCurrent `main` .) }}{{end}}menu-item"><a href="#"  class="menu-link" data-href="#{{ .URL }}" title="{{ .Title }}"><div>{{ .Name }}</div></a></li>
        
        {{ end }}
    {{ end }}

    </ul>

</nav><!-- #primary-menu end -->