<section id="slider" class="slider-element min-vh-100 include-header" style="background: url('one-page/images/page/apartment.jpg') no-repeat center right; background-size: cover;">
    <div class="slider-inner">

        <div class="vertical-middle">
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-6">
                        <i class="icon-realestate-building" style="font-size: 48px; margin-bottom: 20px;"></i>
                        <h2 class="ls0 fw-bold text-uppercase" style="font-size: 26px;">Get ready to share the
                            <br>LOVE</h2>
                        <h3 class="fw-light" style="font-size: 20px;">Love is an e-wallet powered by Inception Technology Co. Ltd, a regional Fintech company based in Singapore with offices in Thailand, Indonesia and Manila.</h3>
                        <a href="#" class="button button-circle button-border button-dark button-black button-large text-end m-0 clearfix" data-scrollto="#section-about" data-offset="60">Let's Go Inside<i class="icon-line-arrow-down"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="video-wrap d-lg-none">
            <div class="video-overlay" style="background: rgba(255,255,255,0.8);"></div>
        </div>

    </div>
</section>