<section id="slider" class="slider-element slider-parallax swiper_wrapper vh-100 love-slider">
    <div class="slider-inner">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="container">     
                        <div class="slider-caption">
                            <h2 class="" style="" data-animate="fadeInUp">Get ready to share the <img src="./images/logo-t.png" alt="" class="love"></h2>
                            <p class="fw-light" data-animate="fadeInUp" data-delay="300">LOVE is an e-wallet powered by Inception Technology Co. Ltd, a regional Fintech company based in Singapore with offices in Thailand, Indonesia and Manila.</p>
                            <p class="fineprint" data-animate="fadeInUp" data-delay="600">Inception Technology Philippines Corp. (INCEPTION) is regulated by the Bangko Sentral ng Pilipinas (BSP)</p>
                        </div>
                        <div class="slider-image" data-animate="fadeIn" data-delay="500">
                            <img src="./images/iphone-12.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('images/arrows.png');"></div>
                </div>
                <div class="swiper-slide">
                    <div class="container">
                        <div class="slider-caption">
                            <h2 class="" style="" data-animate="fadeInUp"><img src="./images/logo-t.png" alt="LOVE" class="love"> for God</h2>
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('images/bg-love-god.jpg');"></div>
                </div>
                <div class="swiper-slide">
                    <div class="container">
                        <div class="slider-caption">
                            <h2 class="" style="" data-animate="fadeInUp"><img src="./images/logo-t.png" alt="LOVE" class="love"> for Community</h2>
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('images/bg-love-community.jpg');"></div>
                </div>
                <div class="swiper-slide">
                    <div class="container">
                        <div class="slider-caption">
                            <h2 class="" style="" data-animate="fadeInUp"><img src="./images/logo-t.png" alt="LOVE" class="love"> for Family</h2>
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('images/bg-love-family.jpg');"></div>
                </div>
                <div class="swiper-slide">
                    <div class="container">
                        <div class="slider-caption">
                            <h2 class="" style="" data-animate="fadeInUp"><img src="./images/logo-t.png" alt="LOVE" class="love"> for Partner</h2>
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('images/bg-love-partner.jpg');"></div>
                </div>
            </div>
            <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
            <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
            <div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div>
        </div>

    </div>
</section>