{{ define "main" }}
<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap p-0">
        <div id="section-about" class="center page-section">

            <div class="container clearfix">

                <h2 class="mx-auto bottommargin font-body" style="max-width: 700px; font-size: 40px;">About Inception</h2>

                <p class="lead mx-auto bottommargin" style="max-width: 800px;">Inception is a technologically innovative financial services company that provides easy cross border remittance, lifestyle services, and a regional last-mile network for everyone. Its key mission is to drive financial inclusion for the unbanked and underserved communities across Southeast Asia.</p>

                <p class="lead mx-auto bottommargin" style="max-width: 800px;">Inception is a regional group of companies with offices in Singapore, Thailand, Indonesia and the Philippines.</p>

                <p class="bottommargin" style="font-size: 16px;"><a href="#" data-scrollto="#section-services" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="more-link">Learn more <i class="icon-angle-right"></i></a></p>

                <div class="clear"></div>

            </div>

        </div>
    </div>
</section><!-- #content end -->
{{ end }}